.posts article{
    padding: 1px 1px;
    background-color: #EEEEEE;    
}

.posts article:nth-child(2n) {
    background-color: #FFFFFF;
}

.posts article:hover{
    background-color: #DDDDDD;
}

.posts article a{
    display: inline-block;
    text-decoration: none;
}

.posts article p{
    display: inline-block;
    text-decoration: none;
    padding: 0px 0px 0px 10px;
}

.button_bar input{
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.studInfo {
    text-align: right;
}